/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


.titulo-cuerpo  {
	display: block;
	font-size: 30px;
	color: #6D6D6D;
}

.cajas {
	border-bottom: 5px solid #e0220a;
	padding: 10px 0;
}

#caja-presentacion {
	width: 470px;
	float: left;
}

#caja-presentacion {
	font-size: 41px;
	color: azure;
	font-weight: bolder;
}